<!--<div class="row">
	<div class="col-md-8 col-md-offset-2" style="background-color:#000000;">
		<div class="col-md-2" style="text-align: right;" >  </div>
		<div class="col-md-2" >
			
		</div>
		<div class="col-md-4 ">
			<p>
				<div id="response"></div>
			</div>
			<div class="col-md-4">WEATHER</div>
		</div>
	</div>-->
<!--<div class="container-fluid">-->
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 shadow" id="navbar" style="background-color: #000000; padding-left:0px; padding-right:0px">
			<!-- Navbar Template -->
		</div>
	</div>
	<div class="row" id="center">
		<div  id="mastercol" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1  col-md-8 col-md-offset-2 <%=content_bg_class%>"   align="left" style=" padding-left:0px; padding-right:0px">
			<div id="content"></div>
		<!-- To change with Spining Wheel -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="footer">2015</div>
	</div>
<!--</div>-->
