  <nav class="navbar navbar-inverse navbar-static-top shadow " id="navbar" role="navigation" style="margin-bottom:0px;">
 <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div id="navitems" class="collapse navbar-collapse navbar-ex1-collapse">
 <ul class="nav navbar-nav">
  <li><a href="javascript:" class="js-wall"><span><i class="fa fa-truck"></i>&nbsp;<span data-i18n="topmenu.Wall">Wall</span></span></a></li>
  <li><a href="javascript:" class="js-main"><span><i class="fa fa-magic"></i>&nbsp;<span data-i18n="topmenu.Control">Control</span></span></a></li>
  <li><a href="javascript:" class="js-heating"><span><i class="fa fa-tint"></i>&nbsp;<span data-i18n="topmenu.Heating">Heating</span></span></a></li>
  <li>
    <a href="javascript:" class="js-report"><span><i class="fa fa-area-chart"></i>&nbsp;<span data-i18n="topmenu.Energymeter">Report</span></a></li>
    <li class="dropdown">
     <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-cog"><span></i>&nbsp;<span data-i18n="topmenu.Automation">Automation</span></span><b class="caret"></b></a>
     <ul id="ul_automation_menu_item" class="dropdown-menu">

     </ul>
   </li>
   <li>

    <a href="javascript:" class="js-alarm" ><span><i class="fa fa-shield"></i>&nbsp;<span data-i18n="topmenu.Alarm">Alarm</span></span></a>

  </li>
    <li>

    <a href="javascript:" class="js-weather" ><span><i class="fa fa-sun-o"></i>&nbsp;<span data-i18n="topmenu.Alarm">Weather</span></span></a>

  </li>
  <li  class="dropdown">

  <a href="javascript:" id="liconfig" class="dropdown-toggle" data-toggle="dropdown">
    <span>
      <i class="fa fa-wrench"></i>&nbsp;<span data-i18n="topmenu.Settings">Settings</span>
    </span>
    <b class="caret"></b>
  </a>
      <ul class="dropdown-menu ">
       <li><a class="js-adm_wall" href="javascript:"><span><i class="fa fa-cloud"></i>&nbsp;<span data-i18n="topmenu.Wall">Wall</span></span></a></li>
       <li><a class="js-adm_device" href="javascript:"><span><i class="fa fa-cloud"></i>&nbsp;<span data-i18n="topmenu.Devices">Devices</span></span></a></li>
       <li><a class="js-adm_vdevice" href="javascript:" ><span><i class="fa fa-magic"></i>&nbsp;<span data-i18n="topmenu.VirtualDevices">Virtual Devices</span></span></a></li>
       <li><a href="javascript:" class="js-adm_heating"><span><i class="fa fa-tint"></i>&nbsp;<span data-i18n="topmenu.Heating">Heating</span></span></a>
      </li>
      <li><a href="javascript:" class="js-adm_alarm"><span><i class="fa fa-shield"></i>&nbsp;<span data-i18n="topmenu.Alarm">Alarm</span></span></a></li>
      <li><a href="javascript:" class="js-adm_automation"><i class="fa fa-cog"><span></i>&nbsp;<span data-i18n="topmenu.Automation">Automation</span></span></a></li>
      <li><a href="javascript:" class="js-adm_report" ><span><i class="fa fa-area-chart"></i>&nbsp;<span data-i18n="topmenu.Energymeter">Report</span></a></li>
      <li><a href="javascript:" class="js-adm_camera"><span><i class="fa fa-video-camera"></i></i>&nbsp;<span data-i18n="topmenu.Camera">Camera</span></a></li>
      <li><a href="javascript:" class="js-adm_user"><span><i class="fa fa-user"></i></i>&nbsp;<span data-i18n="topmenu.Users">Users</span></a></li>
      <li><a href="javascript:" class="js-adm_site"><span><i class="fa fa-sitemap"></i></i>&nbsp;<span data-i18n="topmenu.Sites">Sites</span></a></li>
      <li><a href="javascript:" class="js-adm_server">
        <span><i class="fa fa-server"></i></i>&nbsp;<span data-i18n="topmenu.Server">Server</span></a></li>
        <li><a href="javascript:" class="js-adm_social">
        <span><i class="fa fa-puzzle-piece"></i></i>&nbsp;<span data-i18n="topmenu.Social">Social network</span></a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
 <li><a class="js-lougout"><i class="fa fa-sign-out"></i></a></li>
 <li><a href="javascript:" class="js-user">Vincent</a></li>
</ul>

</div>
</nav>