<div align=center>
<div class="panel " style="width:50%; background-color:rgba(0,0,0,0.2);padding:20px">
	<div class="panel panel-default" style="width:70%; background-color:rgba(255,255,255,1);">
		<div class="panel-body" >
			<div class="cont">
				<form class="form-signin" >
					<h2 class="form-signin-heading">Please sign in</h2>
					<label >Email address</label>
					<input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" value="<%=username%>">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="" value="<%=password %>">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block js-submit" type="submit" >Sign in</button>
				</form>
			</div>
		</div>
	</div>
	</div>
</div>