<div> 
 	<div class="nodetitle" id="nodetitle" data-i18n="Camera.Pleaseselectacamera">
   		<div style="float:left; padding:8px;"><i class="fa fa-video-camera"></i>&nbsp;<span data-i18n="Camera.Camerasettings">Camera settings</span></div>
   		<div style="float:right; line-height:40px; margin-right:15px">
   			<a href="javascript:" class="js-refresh">
   				<i class="fa fa-refresh " style:"font-size:20px"></i>
   			</a>&nbsp;
   		</div>
    	<div style="clear:both;"></div>
	</div>
<div class="nodedetails" id="nodedetails" style="overflow: hidden;" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Properties <%=title%><span style="float:right">&nbsp;<a  href="javascript:" class="js-delete"><i class="fa fa-trash"></i></a></span></h3>
		</div>
		<div class="panel-body">
			<div id="error-msg"></div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.label">Title</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_title" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Camera ID</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_id" class="input-large"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.Location">Location</div>
				<div style="float:left; width: 60%;">
					<span id="select_location" class="input-large"></span><span id="error_zone" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.Activity">Activity</div>
				<div style="float:left; width: 80%;">
					<span id="chk_camera_status" ></span>		
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Automation.Register as menu item">Visible</div>
				<div style="float:left; width: 80%;">
					<span id="chk_camera_showincontrol" ></span>		
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Ip address</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_ip" class="input-large"></span><span id="error_ip" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Port</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_port" class="input-large"></span><span id="error_port" class="err_msg"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Video path</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_path" class="input-large"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Image path</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_picture_path" class="input-large"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Login</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_login" class="input-large"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="Camera.id">Password</div>
				<div style="float:left; width: 60%;">
					<span id="input_camera_password" class="input-large"></span>	
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div>
					<div style="float:left; width: 100%;"><br></div>
				</div>
				<div style="float:left; width: 20%;"> &nbsp;</div>
				<div style="float:left; width: 80%;"> 
					<button type="button" id="btnsubmitprop" class="btn btn-small btn-primary js-save" data-i18n="Save">Save</button>
				</div>
				<div style="clear:both"></div>
			</div>

		</div>
		</div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" ><span style="float:left;" data-i18n="Camera.view">View</span>&nbsp;
			<span style="float:right;">
   				<a href="javascript:" class="js-refresh"><i class="fa fa-refresh " style:"font-size:20px"></i></a>&nbsp;
   			</span>
   		</h3>

		</div>
		<div class="panel-body">
			<div>
				<div style="float:left; width: 100%; margin-bottom:100px" id="camera_view" align=center><img src="api/axis_ctr.php?cam_id=<%=cam_id%>" width=320 height=240></div>
			</div> 
		</div>
	</div>
	</div>
</div>
</div>