<li id="li<%=cam_id%>">
	<div style="float:left; width:75%; background-color:<%= back_color %>">
		<a href="javascript:" class="js-select"><%=title %></a>
	</div>
	<div style="float:left; width:25%%; ; background-color:<%= back_color %>" class="job">
		
		<div style="float:right; width:100%;" align=right>
			<a class="js-delete" style="padding:2px;padding-top:12px;padding-bottom:12px" href="javascript:"><i class="fa fa-remove"></i></a>
		</div>
		<div style="clear:both;">
	</div>
	<div style="clear:both;">
</li>
