<!--<script type="text/template" id="block-camera-template">-->
<div class="nodeblock"  id="div-CAM" >
	<div class="nodestate" >
		<div>
			<div class="nodename">CAM</div>
		</div>
		<div>	
			<div style="float:left; width: 100%;">
				<div align=center>
					<img src="api/axis_ctr.php?type=picture&cam_id=<%=cam_id%>&resolution=160x120" height=80 width=80/>
				</div>
			</div>
		</div>
	</div>
	<div align=left style="display:inline-block;">
		<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-prevblock"><i class="fa fa-caret-left"></i></button></div>
		<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-config"><i class="fa fa-cogs"></i></button></div>
		<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-nextblock"><i class="fa fa-caret-right"></i></button></div>
	</div>
</div>
<!--</script>-->