<!--<script type="text/template" id="static-template">-->
	<div class="nodeblock"  id="div-<%= blockid %>" >
		<div class="nodestate" >
			<div>
				<div class="nodename" align=left><span id="nodelabel"><%= label %></span><div style="float: right"><img id="img_battery-<%= blockid %>" src="<%= img_battery%>" width="16px" align="absmiddle" border=0></div></div>
			</div>
			<div id="panel-content-<%= blockid %>">
			<!-- Content according to the active command class / value -->
			</div>
		</div>
		<div align=left style="display:inline-block;">
			<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-prevblock"><i class="fa fa-caret-left"></i></button></div>
			<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-config"><i class="fa fa-cogs"></i></button></div>
			<div style="float:left"><button button class="btn btn-xs  btnOff btnMicro js-nextblock"><i class="fa fa-caret-right"></i></button></div>
		</div>
	</div>
<!--</script>-->