<div style="float:left; width: 100%;">
	<div style="float:left; width: 25%;">
		<div align=center style="margin: 2px;">
			<img class="bulb" id="imgOff-<%= valueid %>" src="<%= img_on %>"  width=50 alt=""/>
		</div>
	</div>
	<div style="float:left; width: 20%; line-height:60px" align=center>
		<span id="lblLevel-<%= valueid %>" class="level"><%= percent_value %></span>
		<input type="hidden" id="type-<%= valueid %>" value="<%= type %>"/>
	</div>
	<div style="float:left; width: 23%;margin-top:5px;">
	<button class="btn btn-xs  <%= buttonOn_class %> js-setOn" type="button">ON</button><br>
	<button class="btn btn-xs  <%= buttonOff_class %> js-setOff" type="button">OFF</button>
	<!--	<input type="button"  id="btnOn-<%= valueid %>" class="<%= buttonOn_class %> js-setOn" style="width: 44px; margin: 3px;"/></br>
		<input type="button" id="btnOff-<%= valueid %>" class="<%= buttonOff_class %> js-setOff" style="width: 44px; margin: 3px;">
	--></div>
	<div style="float:left; width: 23%;margin-left:3px;margin-top:5px;">
	<button class="btn btn-xs  btnOff js-setIncr" type="button">+</button><br>
	<button class="btn btn-xs  btnOff js-setDecr" type="button">-</button>
		<!--<input type="button"  id="btnPlus-<%= valueid %>" class="buttonPlus js-setIncr"  style="width: 44px; margin: 3px;"/></br>
		<input type="button"  id="btnMin-<%= valueid %>" class="buttonMin js-setDecr" style="width: 44px; margin: 3px;"/>-->
	</div>														     
	<div id="slider-view" align=center>
		<div class="slider" id="slider-<%= valueid %>"   style="float:left; margin: 5px 0px 5px 10px; width: 90%;height: 7px; font-size: 8px;">&nbsp;</div>
	</div>
	</div>
</div>