<!--<script type="text/template" id="zone-template">-->
	<div class="zone" id="zone-<%= id %>">
		<div class="zonetitle shadow" style="float:left;width:100%;"> <%= label %><div style="float:right"><a class="stdlnk zoneremove"><i class="fa fa-times-circle-o"></i></a>&nbsp;<a class="stdlnk zonetoggle"><span class="<%= arrow %>"></span></a></div></div>
		<div style="clear:both;"/>
		<div align=center>
			<div class="zonedetails shadow" id="zone-content-<%= id %>" align=left></div>	
		</div>
	</div>
<!--</script>-->