<div style="padding-top:10px;">
	<div class="node" id="job0" style="display:block;">
		<div class="nodetitle" data-i18n="Alarm.AlarmControl">Alarm control</div>
		<div class="nodedetails" id="nodedetails" style="overflow: hidden; height:600px" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" data-i18n="Alarm.AlarmMode">Alarm Mode</h3>
				</div>
				<div class="panel-body">
					<div id="Statuspanel">
						<div>
							<div style="width:100%" id="alarm_msg"></div>
						</div>
						<div id="alarm_keypad"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>