<div style="bottom:100% !important; top:auto !important; ">
	<div class="dropdown " id="plus-<%=parent_key%>" style ="position: relative; float:left;">
		<a data-toggle="dropdown">
			<span style="height:30px; top:0px; vertical-align:middle;" class="gbws_white"><i class="fa fa-plus"></i></span>
		</a> 
		<!-- Link or button to toggle dropdown -->
		<ul class="dropdown-menu " style ="position: relative;" role="menu" aria-labelledby="dropdownMenu1">
			<li class="dropdown-submenu ">
				<a role="menuitem" tabindex="-1" href="javascript:">Action</a>
				<ul class="dropdown-menu">
	                <li><a class="js-add-DEVICE_ACTION" href="javascript:">Device</a></li>
					<li><a class="js-add-EMAIL_ACTION" href="javascript:">Email notification</a></li>
					<li><a class="js-add-SMS_ACTION"  href="javascript:">Sms notification</a></li>
					<li><a class="js-add-WAIT_ACTION" href="javascript:">Wait</a></li>
					<li><a class="js-add-WS_ACTION" href="javascript:">Web Service</a></li>
					<li><a class="js-add-GPIO_ACTION" href="javascript:">Gpio</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
