<div class="dropdown " id="plus-<%=parent_key%>" style ="position: relative; float:left;">
	<a data-toggle="dropdown">
		<span style="height:30px; top:0px; vertical-align:middle;" class="gbws_white"><i class="fa fa-plus"></i></span>
	</a> 
	<!-- Link or button to toggle dropdown -->
	<ul class="dropdown-menu" style ="position: relative;" role="menu" aria-labelledby="dropdownMenu1">
		<li><a class="js-add-DEVICE_EVENT" href="javascript:">Device</a></li>
		<li><a class="js-add-WSE_EVENT" href="javascript:">External</a></li>
		<li><a class="js-add-SMS_EVENT" href="javascript:">Sms</a></li>
		<li><a class="js-add-SC_EVENT" href="javascript:">Security Code</a></li>
	</ul>
</div>
