<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-i18n="Device.Listofassociation">Remove existing device</h3>
	</div>
		<div class="panel-body" id="listofassociation">
			<div>
  			<div style="float:left;width:100%;height:80;" >
  				<i id="state_remove_icon" class="fa fa-wifi fa-5x"></i>
  			</div>
  			<div style="clear:both;"></div>
  		</div>
      <div>
        <div style="float:left;width:100%;" >
          <span id="state_remove_text"></span>
        </div>
        <div style="clear:both;"></div>
      </div>
       <div style="float:left;width:100%;" >
          <span >&nbsp;</span>
        </div>
        <div style="clear:both;"></div>
      </div>
			<div>
  			<div style="float:left;width:100%">
  				<a id="btn_cancel" class="btn btn-sm btn-default js-remove_cancel" data-i18n="Device.Cancel">Cancel</a>&nbsp; 
          <a id="btn_submit" class="btn btn-sm btn-primary js-remove_device" data-i18n="Device.Sendupdates">Remove Device</a>
  			</div>
  			<div style="clear:both;"></div>
	  	</div>
      <div style="float:left;width:100%;" >
          <span >&nbsp;</span>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div>
	</div>
</div>