<tr>
    <td style=" width: 5%;" ><input class="js-showincontrol" type="checkbox" value="1" <%=chkboxsic%>/></td>
    <td style=" width: 5%;"><small><%=index%></small></td>
    <td style=" width: 40%;"><input class="js-setlabel" type="text" style="font-size: 12px;" value="<%=name%>"/></td>
    <td style=" width: 15%;"><small><%=genre%></small></td>
    <td style=" width: 10%;"><small><%=units%></small></td>
    <td style=" width: 10%;"><small><%=min%></small></td>
    <td style=" width: 10%;"><small><%=max%></small></td>
</tr>
