<table class="table table-striped">
	<thead>
		<tr>
    		<td style="float:left; width: 5%;" ><i class="fa fa-paper-plane-o" alt="Show in control"></i></td>
    		<td style="width: 5%;"><small>Index</small></td>
    		<td style="width: 40%;"><i class="fa fa-tag"></i><small>&nbsp;Label</small></td>
    		<td style="width: 15%;"><i class="fa fa-wrench"></i><small>&nbsp;Genre</small></td>
    		<td style="width: 10%;"><i class="fa fa-tachometer"></i><small>&nbsp;</small></td>
    		<td style="width: 10%;"><small>Min</small></td>
    		<td style="width: 10%;"><small>Max</small></td>
		</tr>
	</thead>
	<tbody id="panel_item_content"></tbody>
<table>