<div>
	<a class="btn btn-sm btn-primary" href="javascript:populate_association()" style="margin-bottom:5px;margin-top:5px;" data-i18n="Device.Refresshassociation">Refresh Association</a> <img id="spin" style="display: none;" src="images/spin2.gif" width=16>
</div>
<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title" data-i18n="Device.Listofassociation">List of Associations</h3>
	</div>
  	<div class="panel-body" id="listofassociation"></div>
<div>
<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title" data-i18n="Device.Addassociation">Add association</h3>
	</div>
  	<div class="panel-body" id="">
  		<div>
  			<div style="float:left; width:30%" data-i18n="Device.Device">Device</div>
  			<div style="float:left;width:70%"></div>
  		</div>
  		<div>
  			<div style="float:left;width:30%" data-i18n="Device.Location">Location</div>
  			<div style="float:left;width:70%"></div>
  		</div>
		<div>
			<div style="float:left;width:30%" data-i18n="Device.Addtogroup">Add to group </div>
			<div style="float:left;width:70%"></div>
		</div>
	</div>
</div>




