 <!-- Only required for left/right tabs -->

 <div id="nodediv">
    <div class="nodetitle_bootstrap" id="nodetitle_2">   
    <div style="float:left">
      <ul id="myTab" class="nav nav-tabs" style="margin-bottom: 0px;">
        <li id="tb-1" class="active">
          <a href="#tabs-1" class="js-swtab1" data-i18n="Device.Properties"  data-toggle="tab">Properties</a>
        </li>
        <li id="tb-2">
          <a href="#tabs-2" class="js-swtab2" data-i18n="Device.Informations" data-toggle="tab">Informations</a>
        </li>
        <li id="tb-3">
          <a href="#tabs-3" class="js-swtab3" data-i18n="Device.Settings" data-toggle="tab">Settings</a>
        </li>
        <li id="tb-4">
          <a href="#tabs-4" class="js-swtab4" data-i18n="Device.Associations" data-toggle="tab">Associations</a>
        </li>
        <li id="tb-5" style="display:none;">
          <a href="#tabs-5" class="js-swtab5" data-i18n="Device.Associations" data-toggle="tab">User Code</a>
        </li>
         <li id="tb-6" style="display:;">
          <a href="#tabs-6" class="js-swtab6" data-i18n="" data-toggle="tab">Events</a>
        </li>
      </ul>
    </div>
    <div style="float:right; line-height:40px; margin-right:15px"><a href="javascript:" class="js-refreshcfg"><i class="fa fa-refresh " style:"font-size:20px"></i></a>&nbsp;<a href="javascript:" alt="Heal Network Node" class="js-healnetworknode"><i class="fa fa-ambulance" style:"font-size:20px"></i></a>&nbsp;</div>
    <div style="clear:both;"></div>
</div>
</div>
<div class="nodedetails_nomargin" id="nodedetails_empty" style="overflow: hidden;" >
  <div id="myTabContent" class="tab-content" >
    <div class="tab-pane active" id="tabs-1"></div>
    <div class="tab-pane" id="tabs-2"></div>
    <div class="tab-pane" id="tabs-3"></div>
    <div class="tab-pane" id="tabs-4"></div>
    <div class="tab-pane" id="tabs-5"></div>
    <div class="tab-pane" id="tabs-6"></div>
  </div>
</div>