<div id="nodediv_empty">
	<div class="nodetitle" id="nodetitle" data-i18n="">
		<div style="float:left; padding:8px;"><i class="fa fa-hand-o-left"></i>&nbsp;Please select a device</div>
		<div style="float:right; line-height:40px; margin-right:15px">
			<a href="javascript:" class="js-new"><i class="fa fa-plus " style:"font-size:20px"></i></a>&nbsp;<a href="javascript:" class="js-refreshcfg"><i class="fa fa-refresh " style:"font-size:20px"></i></a>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="nodedetails" id="qq" style="height: 600px;" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" data-i18n="Device.Listofassociation">Options</h3>
			</div>
			<div class="panel-body" id="">
				<div>
	  				<div style="float:left;width:100%;" >
	  					<a id="popupTrigger_add_device" rel="fancy_add_device" class="js-popup" href="#popupView_add_device" data-fancybox=""><i class="fa fa-plus-circle fa-2x"></i> Add new device</a>
	  				</div>
	  				<div style="clear:both;"></div>
	  			</div>
	  			<div>
	  				<div style="float:left;width:100%;" >
	  					<a id="popupTrigger_remove_device" rel="fancy_add_device" class="js-popup" href="#popupView_remove_device" data-fancybox=""><i class="fa fa-minus-circle fa-2x"></i> Remove existing device</a>
	  				</div>
	  				<div style="clear:both;"></div>
	  			</div>
	  			<div>
	  				<div style="float:left;width:100%;" >
	  					<a href="javascript:" class="js-refreshcfg"><i class="fa fa-refresh fa-2x"></i> Refresh configuration</a>
	  				</div>
	  				<div style="clear:both;"></div>
	  			</div>
	  			<div>
	  				<div style="float:left;width:100%;" >
	  					<a href="javascript:" class="js-healnetwork"><i class="fa fa-ambulance fa-2x" aria-hidden="true"></i> Heal Network</a>
	  				</div>
	  				<div style="clear:both;"></div>
	  			</div>
	  		</div>
	  	</div>
	</div>	
	<div id="popupView_add_device" style="width:340px; padding:10px;height: 260px;background-color: #222; display: none;" align=center></div>
	<div id="popupView_remove_device" style="width:340px; padding:10px;height: 260px;background-color: #222; display: none;" align=center></div>
</div>

	

