<form class="form-device-info" >
<div class="panel panel-default">
  	<div class="panel-heading">
    	 <h3 class="panel-title"><i class="fa fa-tags"></i>&nbsp;<span data-i18n="Heating.ZoneProperties">List of associations</span><span style="float:right"><a href="javascript:" class="js-refresh " data-toggle="tooltip" data-placement="top" data-i18n="[title]Automation.Run" title="List of association"><i class="fa fa-refresh"></i></a></span></h3>
	</div>
  	<div class="panel-body" id="listofassociation"></div>
</div>
<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title" data-i18n="Device.Addassociation">Add association</h3>
	</div>
  	<div class="panel-body" id="">
  		<div>
  			<div style="float:left; width:30%" data-i18n="Device.Device">Device</div>
  			<div style="float:left;width:70%"><%=name%></div>
  			<div style="clear:both;"></div>
  		</div>
  		
		<div>
			<div style="float:left;width:30%" data-i18n="Device.Addtogroup">Add to group</div>
			<div style="float:left;width:70%" id="group-select"></div>
			<div style="clear:both;"></div>
		</div>
		<div>
			<div style="float:left;width:30%" data-i18n="Device.Targetdevice">Target device</div>
			<div style="float:left;width:70%" id="targetdevice-select"></div>
			<div style="clear:both;"></div>
		</div>
		<div>
			<div style="float:left;width:30%">&nbsp;</div>
			<div style="float:left;width:70%">
				<button id="btnsubmit" name="btnsubmit" class="btn btn-sm btn-primary" style="margin-bottom:5px;margin-top:5px;" data-i18n="Device.Save">Save</button>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>
</form>




