<div id="nodediv_empty">
	<div class="nodetitle" id="nodetitle" data-i18n="Scene.Pleaseselectacamera">
		<div style="float:left; padding:8px;"><i class="fa fa-hand-o-left"></i>&nbsp;Please select a user</div>
		<div style="float:right; line-height:40px; margin-right:15px">
			<a href="javascript:" class="js-new"><i class="fa fa-plus " style:"font-size:20px"></i></a>&nbsp;
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="nodedetails" id="qq" style="height: 600px;" ></div>
</div>
<br>