<div> 
 	<div class="nodetitle" id="nodetitle" data-i18n="User.Pleaseselectauser">
   		<div style="float:left; padding:8px;"><i class="fa fa-user"></i>&nbsp;<span data-i18n="User.Settings">User settings</span></div>
   		<div style="float:right; line-height:40px; margin-right:15px">
   			<a href="javascript:" class="js-refresh">
   				<i class="fa fa-refresh " style:"font-size:20px"></i>
   			</a>&nbsp;
   		</div>
    	<div style="clear:both;"></div>
	</div>
<div class="nodedetails" id="nodedetails" style="overflow: hidden;" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Properties<span style="float:right">&nbsp;<a  href="javascript:" class="js-delete"><i class="fa fa-trash"></i></a></span></h3>
		</div>
		<div class="panel-body">
			<div id="error-msg"></div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.fname">First name</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_fname" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.lname">Last name</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_lname" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.status">Activity</div>
				<div style="float:left; width: 60%;">
					<span id="chk_user_status" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.email">Email</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_email" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.email">ID</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_id" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.mobile">Mobile</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_mobile" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.password">Password</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_password" class="input-large"></span><span>&nbsp;<button class="btn btn-xs btn-primary js-change_password">change password</button></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.lastlogin">New password</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_newpass1" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.lastlogin">password confirmation</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_newpass2" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.lastlogin">Last successfull login</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_lastsuccesslogin" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div style="float:left; width: 20%;" data-i18n="User.lastlogin">Last login error</div>
				<div style="float:left; width: 60%;">
					<span id="input_user_lasterrorlogin" class="input-large"></span><span id="error_label" class="err_msg"></span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-bottom:3px;">
				<div>
					<div style="float:left; width: 100%;"><br></div>
				</div>
				<div style="float:left; width: 20%;"> &nbsp;</div>
				<div style="float:left; width: 80%;"> 
					<button type="button" id="btnsubmitprop" class="btn btn-small btn-primary js-save" data-i18n="Save">Save</button>
				</div>
				<div style="clear:both"></div>
			</div>

		</div>
		</div>	
	</div>
</div>
