<li id="li<%=id%>">
	<div style="float:left; width:75%; background-color:<%= back_color %>">
		<a href="javascript:" class="js-select"><%=title %></a>
	</div>
	<div style="float:left; width:25%; ; background-color:<%= back_color %>" class="job" align=right>
		
		
			<a class="js-delete" style="padding:2px;padding-top:8px;padding-bottom:8px" href="javascript:" data-toggle="tooltip" data-placement="top" data-i18n="[title]Heating.deletezone" title="delete zone"><i class="fa fa-remove"></i>&nbsp;</a>
			</div>
	<div style="clear:both;">
</li>
