<div id="block-<%= scene_item_id %>" class="gbws_yellow"style=" float:left; ">
	<div style="float:left; padding-top:2px;">
		<select id="TE"><option>Time event</option></select>
	</div>
	<div style="float:left; padding-left:10px;color:#FFF;">
		<div style="font-size:14px">
				<span id="cpn_chkbox_1-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_2-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_3-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_4-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_5-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_6-<%= scene_item_id %>"></span>
				<span id="cpn_chkbox_7-<%= scene_item_id %>"></span>&nbsp;	   
				<span style="float:right">
					<a id="save-<%= scene_item_id %>" href="javascript:" style="color: #FFF;" class="js-save_scene_item">
						<i style="color: #FFF;"  class="fa fa-floppy-o"></i>
					</a>
					<a id="delete-<%= scene_item_id %>"  href="javascript:" style="color: #FFF;" class="js-delete_scene_item"><i style="color: #FFF;"  class="fa fa-remove"></i></a>
				</span>
			</div>
			<div>
				<i style="color:#FFF;" class="fa fa-clock-o"></i>&nbsp;<span id="cpn_select_hour-<%= scene_item_id %>"></span>:<span id="cpn_select_min-<%= scene_item_id %>"></span>
				
			</div>
		</div>
	</div>