<div id="block-<%= scene_item_id %>" style="float:left" class="gbws_yellow">
	<span id="cpn_select_device-<%= scene_item_id %>"></span>
	<span id="cpn_select_scene_exec_id-<%= scene_item_id %>"></span>
	<span id="cpn_select_press_type-<%= scene_item_id %>"></span>
	<span><a id="save-<%= scene_item_id %>" style="color: #FFF;" href="javascript:" class="js-save_scene_item">
		<i class="fa fa-floppy-o"></i></a>
	<a id="delete-<%= scene_item_id %>"  href="javascript:" style="color: #FFF;" class="js-delete_scene_item"><i class="fa fa-remove"></i></a>
	</span>	
</div>
<div style="float:left" id=""></div>