<div id="block-<%=scene_item_id%>" class="gbws_blue"style=" float:left; ">
	<div style="float:left; padding-top:2px;">
		<select id="FBX">
			<option>Freebox</option>
		</select>
	</div>
	<div style="float:left; padding-left:10px;">
		<span id="cpn_select_freebox-<%= scene_item_id %>"></span>
		<span id="cpn_select_key-<%= scene_item_id %>"></span>
		<span id="cpn_select_key_presstype-<%= scene_item_id %>"></span>
		<span>
			<a id="save-<%= scene_item_id %>" href="javascript:" style="color: #FFF;" class="js-save_scene_item">
				<i class="fa fa-floppy-o"></i>
			</a>
			<a id="delete-<%= scene_item_id %>" href="javascript:" style="color: #FFF;" class="js-delete_scene_item">
				<i class="fa fa-remove"></i>
			</a>
		</span>
	</div>
	<div style="clear:both;"></div>
</div>