<li  id="li<%=scene_id%>">
	<div style=" float:left; width:75%; background-color:<%= back_color %>">
		<a href="javascript:" class="js-select-scene"><%=label %></a>
	</div>
	<div style="float:left; width:25%; ; background-color:<%= back_color %>" class="job">
		<div style="line-height:32px; float:left; width:33%" >
			<a class="js-moveup" style="padding:2px;padding-top:12px;padding-bottom:12px" href="javascript:"><i class="fa fa-caret-up"></i></a>
		</div>
		<div style="float:left; width:33%">
			<a class="js-movedown" style="padding:2px;padding-top:12px;padding-bottom:12px" href="javascript:"><i class="fa fa-caret-down"></i></a>
		</div>
		<div style="float:left; width:34%;">
			<a class="js-delete" style="padding:2px;padding-top:12px;padding-bottom:12px" href="javascript:"><i class="fa fa-remove"></i></a>
		</div>
		<div style="clear:both;">
	</div>
	<div style="clear:both;">
</li>
