<div style="float:left;margin:5px;width:20px"><%=index%>&nbsp;<i class="fa fa-caret-right"></i></div>
<div style="float:left;margin:5px;">
	<span id="input_state_label_<%=state_id%>" class="input-large"></span>
</div>
<div style="float:left;margin:5px;">
	<a href="javascript:" id="getStateDetails" class="btn btn-xs btn-info js-detail" data-i18n="Device.getStateDetails"><i class="fa fa-eye"></i>&nbsp;Details</a>&nbsp;
	<span>&nbsp;<a  href="javascript:" class="btn btn-xs btn-danger js-delete"><i class="fa fa-trash"></i> delete</a></span>
	
</div>
<div style="clear:both">