<div class="dropdown " id="plus-<%=parent_key%>" style ="position: relative; float:left;">
	<a data-toggle="dropdown">
		<span style="height:30px; top:0px; vertical-align:middle;" class="gbws_white"><i class="fa fa-plus"></i></span>
	</a> 
	<!-- Link or button to toggle dropdown -->
	<ul class="dropdown-menu" style ="position: relative;" role="menu" aria-labelledby="dropdownMenu1">
        <li><a class="js-add-DEVICE_ACTION" href="javascript:">Device</a></li>
		<li><a class="js-add-WS_ACTION" href="javascript:">Web Service</a></li>
		<li><a class="js-add-GPIO_ACTION" href="javascript:">GPIO</a></li>
	</ul>
</div>
