<div style="padding-top:10px;">

<div class="node" id="job0" style="display:block;">
	<div class="nodetitle" data-i18n="Heating.HeatingControl">Heating control</div>
	<div class="nodedetails" id="nodedetails" style="overflow: hidden; height:600px" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" data-i18n="Heating.HeatingMode">Heating Mode</h3>
			</div>
			<div class="panel-body">
				<div id="Statuspanel">
					<div>
						<div style="float:left;width:180px;" data-i18n="Heating.Mode">Mode</div>
						<div style="float:left;width:130px;" id="heatingmode"></div>
					</div>	 
				</div>	
			</div>
		</div>
		<div id="zone_status_panel">
		</div>
    </div>
</div>
</div>